
@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  font-size : 20px;
  padding: 0px;
  margin: 0px;
  padding-top: 70px;
}

h1 {
  margin : 0px;
  text-align: left;
  padding-left: 75px;
  font-weight: bolder;
}

h2 {
  padding: 0px;
  margin: 0px;
  padding-top: 5px;
  padding-right: 30px;
  text-align: right;
}

p {
  padding-left : 75px;
  padding-right : 75px;
  line-height : 1.5em;
  text-align: justify;
}

img {
  padding: 4%;
  padding-left: 4.04%;
  padding-right: 4.04%;
  margin: 0px;
  border-radius: 125px;
}


li {
  list-style-type: square;
  list-style-position: inside;
  line-height: 2.5em;
}

a:link {
    color: blue;
}


a:visited {
    color: purple;
}


a:hover {
    color: red;
}

#initial {
  background-color: #FA7C92;
  padding: 0px;
  margin: 0px;
  height: 20%;
}

#initial img {
  width: 24.55%;
}

#second {
  background-color: #6EC4DB;
  padding: 0px;
  margin: 0px;
  height: 750px;
}

#third  {
  background-color: #66AB8C;
  padding: 0px;
  padding-bottom: 50px;
  margin: 0px;
}


#fourth, #fifth {
  background-color: #FA7C92;
  padding: 0px;
  margin: 0px;
}


#sixth {
  background-color: #6EC4DB;
  padding: 0px;
  margin: 0px;
}

#sixth img {
  width: 24.55%;
}

#seventh {
  background-color: #6EC4DB;
  padding: 0px;
  margin: 0px;
}

#banner {
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #FFFFFF;
  height: 50px;
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  z-index: 100;
}

#banner a:link {
    color: black;
}


#banner a:visited {
    color: black;
}


#banner a:hover {
    color: red;
}

#banner h1, h2 {
  display: inline-block;
}

#welcomepara {
  padding-bottom: 10%;
  padding-left: 20%;
  padding-right: 20%;
  font-weight: bold;
  text-align: center;

}

#catphototext {
  padding-right: 35%;
}

#menu {
  display: inline-block;
  text-align: right;
  float: right;
}

#lentilmeal {
  width: 20%;
  float: left;
  margin: 0px;
}

#puddingcat {
  float: right;
  width: 20%;
}

#yogapara {
  padding-top: 125px;
  margin: 0px;
}

.middletextheader {
  padding-top: 10%;
  padding-bottom: 10%;
  font-weight: bold;
  text-align: center;
  font-size: 60px;

}

.Vegfood {
  padding-left: 30%;

}

.largephotos {
  border: none;
  padding: 0px;
  margin: 0px;
  border-radius: 0px;
  width: 50%;
}

.clearfix::after {
   content: " ";
   display: block;
   height: 0;
   clear: both;
}

@media screen and (max-width: 800px) {
    #menu {
        display: none;
    }
}

@keyframes FadeInOut {
  0% {
    opacity:1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity:0;
  }
  100% {
    opacity:0;
  }
}

img.top {
  animation-name: FadeInOut;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-duration: 5s;
  animation-direction: alternate;
}
